.home-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text */
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text */
}


.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text */
    
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text */
}

.navbar {
    text-align: center; /* Center text */
  }
  
  .navbar-nav {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items horizontally */
  }
  
  .nav-item {
    margin: 0 15px; /* Spacing between items */
  }